.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100vw;
    margin-bottom: 10px;
    background-color: #1DBF3B;
}

.title{
    width: 103px;
    text-align: center;
}

.headerContainer img{
    width: 60px;
    height: 75px;
}

.headerContainer h1 {
    font-family: 'Handlee', sans-serif;
    color: white;
    position: fixed;
    top: 70px;
}

.logout{
    position: absolute;
    right: 0;
    width: 75px;
    font-size: 18px;
    height: 30px;
}